* {
    margin: 0;
    padding: 0;
}

.main-nav{
    width: 100%;
    display: flex;
    background-color: rgb(65, 62, 62);;
    padding: 0 15px;
    box-sizing: border-box;
    z-index: 1;
}

.main-nav__logo {
    max-height: 8vw;
}


.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 5;
}

.navigation__link {
    text-decoration: none;
    color: white;
    display: block;
}

.navigation__link:visited {
    color: white;
}

.navigation__link:hover {
    color: rgb(28, 101, 196);
}

.navigation__link:active {
    color: rgb(16, 169, 180);
}

.navigation__element {
    list-style-type: none;
    margin: 5px 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.section-hero{
    background-image: url('./img/keyboard.jpg');
    height: 25vw;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-hero__photo{
    max-width: 7%;
    border-radius: 100%;
}

.section-hero-header{
    font-size: 2em;
}

.section-hero-parahraph{
    font-size: 1.7em;
}

.section-my-skills__technologies{
    display: flex;
    flex-basis: 33.3%;
}

.technologies__logo{
    width: 15%;
    height: auto;
    max-width: 100px;
    min-width: 30px;
}

.section-about-me__photo{
    max-width: 10%;
}

@media only screen and (max-width: 767px) {
    .main-nav {
        flex-direction: column;
        align-items: center;
    }

    .main-nav__logo {
        justify-content: center;
        max-height: 14vw;
        margin-top: 8px;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .navigation__element {
        margin: 5px auto;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.1em;
        width: 100vw;
        text-align: center;
    }

    .technologies__logo{
        min-width: 30px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-nav {
        flex-direction: column;
        align-items: center;
    }

    .main-nav__logo {
        justify-content: center;
    }

    .navigation {
        justify-content: space-between;
        padding-left: 0;
    }

    .navigation__element {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1200px){
    .main-nav__logo {
        max-height: 6vw;
}
}